@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body -webkit-scrollbar {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
  font-family: "Inter", sans-serif;
  letter-spacing: .1rem;
  display: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #040404;
  --white: #ffffff;
  --tw-color1: #64CCCD;
  --tw-color1-hover: #e87fb1;
}


html,
body {
  background: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  letter-spacing: .1rem;
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
